@font-face {
  font-family: 'NuAnkoMochiCt-Reg';
  src: url('~assets/fonts/NuAnkoMochiCt-Reg.otf') format('opentype');
}

.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}

.page-enter, .page-leave-to {
  opacity: 0;
}
